
.testimonial-img {
  padding-top: 4px;

  &.pull-left {
    padding-right: 8px;
    padding-bottom: 8px;
  }

  &.pull-right {
    padding-left: 8px;
  }
}

.hero-img {
  margin-top: -20px;
  padding-bottom: 15px;
  &.extra-pad {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.last-change-img {
  max-height: 60px;
}

// Customize bootstrap carousel to fade instead of slide
.carousel.carousel-fade .carousel-inner {
  .item {
    opacity: 0;
    transition-property: opacity;
    // @include transition(opacity, 0.8s, ease-in-out); //adjust timing here
  }

  .active {
    opacity: 1;
  }

  .active.left, .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .next.left, .prev.right {
    opacity: 1;
  }

}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
