%div
  Contact JUDY KEEHN for a free assessment regarding the 
  type of training that will best suit you and your dog.
  %br
  %br
  JUDY KEEHN: <tel>760-945-8238</tel>
  %br
  email: keehnondogs@yahoo.com
