%div
  %b
    Contact JUDY KEEHN for a free assessment regarding the 
    type of training that will best suit you and your dog.
    %br
    %br
    JUDY KEEHN:
    %a{:href => "tel:760-945-8238"} 760-945-8238
    %br
    email:
    %a{:href => "mailto:keehnondogs@yahoo.com"} keehnondogs@yahoo.com
