---
title: Board and Train
---

.container-fluid
  .col-sm-4
    = partial "headline"
    %br
    %b BOARD & TRAIN
    %div
      BOARD & TRAIN is a great alternative to doing initial training work yourself, but is not recommended for ALL situations. If your expect-ation is that your dog will be “programmed” for you without effort on your part, you may find yourself disappointed if you do not follow through with the training exercises when your dog returns home. Dog training is really about the RELATIONSHIP BETWEEN YOU AND YOUR DOG. After training is completed, the owner must work with their dog consistently in order to maintain training.
    %br
    %div
      Call Judy to discuss BOARD & TRAIN, to assess whether this is a good choice for your needs. The fee for board and train depends upon the depth of training required. 
    %br
    %b COMFORT BOARDING!
    %div
      Some dogs simply don't do well in commercial kennels regardless of the wonderful care and perks that are offered for the “average dog.” Comfort boarding is designed to accommodate the needs of dogs with separation anxiety, fearfulness or who need good socialization experience. Your dog is carefully integrated with my small pack and lives in my personal quarters, where comforts of home are provided. You can ease your mind when you leave your dog in this relaxing, safe environment. 

  .col-sm-8
    %img.hero-img.img-responsive{:src => "/images/boarding.png", :alt => ""}/
    
    = partial "contact"
