---
title: Private In-Home Instruction
---

.container-fluid
  .col-sm-4
    = partial "headline"                             
    
    %h4 PRIVATE IN-HOME INSTRUCTION
    Whether you're looking for obedience training or solutions to serious behavioral problems, private lessons are available. However, certain behavioral issues require that a little preliminary training is accomplished with the owner at home prior to working with distractions in public. Setting up a solid foundation will help you with control, and create a good working relationship between you and your dog

    %h4 BEHAVIORAL PROBLEM CONSULTING
    Serious dog problems such as fearfulness, displays of aggression, separation anxiety, barking, house soiling, destructive or escape behaviors are addressed in an in-home consultation. The average lesson is 1.5-2 hours, which includes an in-depth Q & A and discus-sion. A training plan will be customized for you, and Judy will demonstrate the training exercises. She will make sure you understand the training and are able to do the exercises correctly before leaving. A summary of the lesson will be emailed to you, along with related handouts.

    %h4 ADULT DOG OBEDIENCE & SOCIALIZATION CLASS
    We make coming to class for obedience training FUN! Learn how to motivate your dog through positive reinforcement games and natural rewards so he will love working on obedience commands for you. We discuss behavior, work on good manners and teach basic commands such as Sit, Down, Stay, Come, Leave It, Loose Leash Walking and a trick or two. Your dog will learn to enjoy off leash socialization and play politely with other dogs. Students are always welcome to bring their dog-related questions to class.
     
    %h4 SIX 1.5 HR. LESSONS - FEE:  $175
    Class enrollment is limited to 6 students - your entire pack is welcome to participate. Children must be 5 years of age and attended by an adult.Contact Judy Keehn for start dates, location and registration.

  .col-sm-8
    %div
      Contact
    %div
      %h4 GROUP TRAINING CLASSES 
      For information about class dates, registration and appointments, call Judy Keehn at 760-945-8238

      %h4 TRAINING LOCATIONS:
      Aloha Animal Hospital, Vista
      %br
      Mission Animal & Bird Hospital, Oceanside
