---
title: Keehn On Dogs
---

.container-fluid
  .col-sm-4
    = partial "headline"
    
    %div
      
      %div
        %img.pull-left.testimonial-img{:src => "/images/judy.png", :alt => ""}/
        Training is more than obedience. It’s about the relationship between you and your dog. Judy Keehn is an experienced dog trainer and behavior consultant who personalizes  her services for her customers. Professional and creative, Judy’s insight will help you  resolve your dog problems through skillful leadership and positive reinforcement techniques. Dogs and people  learn more quickly when training is an enjoyable experience without  stress. Motivation, not muscle, is the key to good training!
        %br
        %br
        Judy has been building relationships between people and their apprenticeship at Dogs For The Deaf in Oregon, where she trained and placed assistance dogs for the hearing impaired. She is a charter member of the Association of Professional Dog Trainers (APDT), an organization committed to better training through education. Her speciality is resolving canine in Vista and Mission Animal & Bird Hospital in Oceanside.
        %img.pull-right.testimonial-img{:src => "/images/apdt.png", :alt => ""}/

      .clearfix
      %br
      %br

      %b SERVICES
      %ul
        %li
          %a{:href => ""} PRIVATE IN-HOME INSTRUCTION
        %li
          %a{:href => ""} BEHAVIOR PROBLEM CONSULTING
        %li
          %a{:href => ""} PUPPY TRAINING & SOCIALIZATION
        %li
          %a{:href => ""} KIDS BITE SAFETY PRESENTATION 
        %li
          %a{:href => ""} ADULT DOG OBEDIENCE
        %li
          %a{:href => ""} GROUP TRAINING
        %li
          %a{:href => ""} BOARD & TRAIN/BOARDING

  .col-sm-7
    .slider.hero-img
      %div
        %img{:src => "/images/sit.png", :alt => ""}
      %div
        %img{:src => "/images/stay.png", :alt => ""}/
      %div
        %img{:src => "/images/good_dog.png", :alt => ""}/

    %div
      Contact JUDY KEEHN for a free assessment regarding the type of training that will best suit you and your dog.
      %br
      JUDY KEEHN: 760-945-8238
      %br
      email: keehnondogs@yahoo.com

    %div
      %img{:src => "/images/last_chance.png", :alt => ""}/
      %h3
        %a{:href => "http://lastchanceatlife.org/"}
          LAST CHANCE AT LIFE (LCAL) – ALL BREED RESCUE
      So many animals need our help! Judy volunteers her foster care and training services to LCAL - one dog at a time – to help them train  and find great homes for their dogs. Some simply need manners and obedience training, yet many others need to work through  behavorial problems such as trust, fearfulness, aggression and socialization issues. Being in a calm and loving foster environment allows  a dog to relax and learn at it's own pace. Even if it’s only possible to foster and train ONE dog at a time, it's one more dog that will  eventually find a great permanent home! Please check out these wonderful dogs who are available for adoption at LCAL.
     