---
title: Dog Training and Boarding by Judy Keehn
meta: Judy Keehn - San Diego's Premier North County Dog Training and Canine Behavior Consultant. Professional and creative, Judy’s insight will help you resolve your dog problems through skillful leadership and positive reinforcement techniques.
---

.container-fluid
  .row
    .col-md-4
      = partial "headline"

      %div

        %div
          %img.pull-left.pad-top.testimonial-img{:src => "/images/judy.png", :alt => "Judy Keehn at work"}/
          Training is more than obedience. It’s about the relationship between you and your dog. Judy Keehn is an experienced dog trainer and behavior consultant who personalizes her services for her customers. Professional and creative, Judy’s insight will help you resolve your dog problems through skillful leadership and positive reinforcement techniques. Dogs and people  learn more quickly when training is an enjoyable experience without stress. Motivation, not muscle, is the key to good training!
          %br
          %br
          Judy has been building relationships between people and their apprenticeship at Dogs For The Deaf in Oregon, where she trained and placed assistance dogs for the hearing impaired. She is a charter member of the Association
          %img.pull-right.testimonial-img{:src => "/images/apdt.png", :alt => "Association of Pet Dog Trainers"}/
          of Professional Dog Trainers (APDT), an organization committed to better training through education. Her speciality is resolving canine behavioral problems, and is referred by Aloha Animal Hospital in Vista and Mission Animal & Bird Hospital in Oceanside.

        .clearfix
        %br
        %br

        %b SERVICES
        %ul.list-unstyled
          %li
            %a{:href => "instruction.html"} PRIVATE IN-HOME INSTRUCTION
          %li
            %a{:href => "instruction.html"} BEHAVIOR PROBLEM CONSULTING
          %li
            %a{:href => "puppy.html"} PUPPY TRAINING & SOCIALIZATION
          %li
            %a{:href => "kids.html"} KIDS BITE SAFETY PRESENTATION
          %li
            %a{:href => "instruction.html"} ADULT DOG OBEDIENCE
          %li
            %a{:href => "instruction.html"} GROUP TRAINING
          %li
            %a{:href => "boarding.html"} BOARD & TRAIN/BOARDING

    .col-md-8
      .carousel.carousel-fade.slide.hero-img{:'data-ride' => 'carousel', :'data-interval' => 4000}
        .carousel-inner{:role => 'listbox'}
          .item.active
            %img{:src => "/images/sit.png", :alt => "Sitting dogs"}
          .item
            %img{:src => "/images/stay.png", :alt => "Staying dogs"}/
          .item
            %img{:src => "/images/good_dog.png", :alt => "Good dogs"}/

      = partial "contact"
      %br

      %div
        %img.last-change-img{:src => "/images/last_chance.png", :alt => "Last Chance at Life"}/
        %br
        %a{:href => "http://lastchanceatlife.org/"}
          %b LAST CHANCE AT LIFE (LCAL) – ALL BREED RESCUE
        %br
        So many animals need our help! Judy volunteers her foster care and training services to LCAL - one dog at a time – to help them train  and find great homes for their dogs. Some simply need manners and obedience training, yet many others need to work through  behavorial problems such as trust, fearfulness, aggression and socialization issues. Being in a calm and loving foster environment allows  a dog to relax and learn at it's own pace. Even if it’s only possible to foster and train ONE dog at a time, it's one more dog that will  eventually find a great permanent home! Please check out these wonderful dogs who are available for adoption at LCAL.
