---
title: Kids Bite Safety
---

.container-fluid
  .col-sm-4
    = partial "headline"
    
    %h4 HOW TO BE SAFE AROUND DOGS!
    %h4 A DOG BITE AVOIDANCE PRESENTATION FOR KIDS 
    A survey by the national Centers for Disease Control concluded that dogs bite more than 4.7 million people annually. Almost 800,000 bites per year - one out of every 8 - are serious enough to require medical attention. Dog bites send over 1,000 people to the hospital emergency room each day!

    %h4 CHILDREN UNDER 15 MAKE UP 70% OF DOG BITE VICTIMS!
    This one-hour presentation is FUN, INTERACTIVE and is targeted at children 5-12 years of age, however people of all ages are invited. Judy Keehn's insight from over 25 years of training experience provides the necessary expertise to teach kids how to be safe around dogs whether at home or at the neighborhood park.
    
    %br
    %br
    TOPICS:
    %ul
      %li How to greet a dog
      %li How to show affection
      %li When not to approach a dog
      %li What to do if a dog frightens or hurts you

    You can arrange to have a FREE presentation at Mission Animal 
    & Bird Hospital's Bark Resort for a group of up to 20 kids.
    %br
    %br
    Contact JUDY KEEHN : 760-945-8238 
    email: keehnondogs@yahoo.com    

    Ask about Mission Animal & Bird Hospital tours of the veterinary 
    hospital, pet resort and educational programs for any animal 
    related topics.  

  .col-sm-8
    %img.hero-img.img-responsive{:src => "/images/kids.png", :alt => ""}/
