---
title: Puppy Training and Socialization
---

.container-fluid
  .col-sm-4
    = partial "headline"
    
    %b PUPPY TRAINING & SOCIALIZATION CLASS
    %div
      This is a FUN CLASS! Early socialization is SO IMPORTANT in the developmental stages of your puppy, so don't miss this window of opportunity to do things right. 
    %br
    %b WHAT WILL MY PUPPY LEARN IN THIS CLASS?
    %div
      We cover ALL THINGS RELATED TO PUPPY BEHAVIOR and use lots of POSITIVE REINFORCEMENT! Toilet training, jumping on people and furniture, chewing, playbiting, stealing your things, barking and HOW TO GET YOUR PUPPY TO LISTEN TO YOU are addressed. Basic training commands such as Sit, Down, Stay, Come and Leave It are practiced. We discuss the importance of exposing your puppy to a variety of experiences to help him develop into a confident adult dog with good coping skills. Students have opportunity to ask questions. The training games and off leash socialization play will put a smile on your face!
    FEE FOR THIS CLASS: $175/6 weeks (1.5 hr lessons)
    %br
    %br
    %div
      Class enrollment is limited to 6 students - your entire pack is welcome to participate. Children must be 5 years of age and attended by an adult. Contact Judy Keehn for start dates, location and registration. NOTE: THIS CLASS IS INTENTIONALLY NOT RESTRICTED TO PUPPIES!!!! Exposure to a variety of ages and types of dogs, including puppies, provides a more valuable, well-rounded social experience. A solid adult dog can teach a puppy important social skill information that simply cannot be taught by another puppy!

    %br
    = partial "contact"

  .col-sm-8
    %img.hero-img.img-responsive{:src => "/images/puppy.png", :alt => ""}/

    %div
      But what about the fear of contracting parvo or some other contagious disease from other puppies or adult dogs? Should you wait until vaccinations are complete? The American Veterinary Society of Animal Behavior states: “there is always a risk of infection and these signs show up early. But risks of on-going poor socialization can be equally damaging, leading to fear and aggression later on. In gerneral, puppies can start puppy socialization classes as early as 7-8 weeks of age. Puppies should receive a minimum of one set of vaccines at least 7 days prior to the first class and a first de-worming. They should be kept up-to-date on vaccinations throughout the class.” (See AVSABonline.org for complete statement.) As long as your puppy is current with the series of vaccinations given by your veterinarian, and you are careful to socialize with safe (non-aggressive) vaccinated dogs known to be healthy, there is little risk. It is far more risky to wait until your puppy is older, which may result in him becoming  reactive, aggressive or fearful of other dogs. Certain breeds of dogs are not as social as others, and it is critical to introduce them to others at an early age. Taking your dog to a safe, well-supervised training class, where proof of current vaccinations is required, is the best thing you can do to give your puppy a good start in life.

