---
title: Testimonials
---

.container-fluid
  .col-sm-4
    %div
      %i
        “We have been so grateful to have found Judy Keehn and trained our dog, Duke, under her. Judy is a sound professional trainer with many years of dog training exper-ience, and she has an amazing insight and rapport with the dogs she works with. I appreciated her genuine concern and care for our dog Duke, and the extra mile she goes in helping her students be successful (both human and canine!)  We trust her so comp-letely with our dog, that we also now board him with Judy when we travel. Duke loves his "dog vacations" at her home, and always has a great time! I would recommend Judy as both a highly talented and respected dog trainer, as well as a caring and professional kennel owner. Duke has excelled under her.”
      %b.pull-right -The Norman family and Duke
    %br
    %div
      %i
        “We highly recommend Judy for any dog training needs. She has helped us with behavior issues as well as basic and intermediate training. We have worked with other trainers and she is the best by far. Judy is firm with the dogs and their people and yet the classes are always fun. Judy trains with love, compassion and a true under-standing of each dog's personality, issues and strengths. Each dog/personteam gets personal attention. Her results are right on the mark!”
      %b.pull-right -David, Mary & Rascal Pratt

  .col-sm-4
    %div
      %i
        “Judy Keehn is simply amazing. Our little Australian Terrier puppy, Tixy, needed some manners. Judy gave us positive reinforcement training tools that were easy to implement in class and at home. Judy has a special gift of unending patience in how she relates to dogs and their owners. Class times were lively, yet focused. She’ll keep you and your dog on track. Appropriate class size and the safety of dogs and owners are high priority for Judy. Best of all, Judy really made it fun and easy for our 7-year-old son to learn how to train our dog. Judy Keehn is a dog trainer extraordinaire.” 
      %b.pull-right -Susie Gordon
    %br
    %div
      %i
        “We met Judy Keehn when we adopted a rescue dog, 2 1/2 year old Noel. Our 6 year old Toy Rat Terrier, Bella, was having a hard time adapting to our new addition.  We were worried that the two would never get along. Our vet referred us to Judy. After only one visit she was able to assess that with guidance, our girls could learn to become friends. One year later, our girls romp and play together. We now use Judy for occasional obedience training as well as to board our dogs. When you leave your dogs with Judy, you leave feeling as if they are her own, in a warm homey environment. The dogs are allowed to roam her home and enclosed back yard. She utilizes her skills as a dog trainer to appropriately remind them of their manners, while also engaging them in exercise and socialization. One of the most comforting aspects of boarding our dogs with Judy is that while we are away she keeps us updated with photos and emails. Priceless!!”
                                                                
      %b.pull-right -Kim & Phil Bryde

  .col-sm-4
    %div
      %i
        We met Judy when in a panic after adopting a second rescue dog that did not get along with our existing dog. She was able to ease the introduction and teach us about dog behavior to help them co-exist. We have been leaving our French Bulldog (who can be antisocial at times) with Judy for several years. Judy gives us peace of mind that our dog is well taken care of (even having more fun than at home) while we are away. Judy is amazingly able to  accommodating to our schedule – even when we call on short notice to pick up our pup. She is clearly dedicated to animals as we have sought her advice on many dog related issues. We are so happy to have found her and highly recommend her to anyone who may need a dog sitter or trainer.
      %b.pull-right -Sean & Jennifer Martin
    %br
    %div
      %i
        Judy Keehn is a superb dog trainer. Our fluffy ball of energy became a well-behaved dog under her tutelage. We have owned and boarded dogs for over fifty years. No kennel has ever made us as comfortable as we feel leaving our dog Lucy with Judy Keehn. Our dog gets love and care in addition to safe boarding. We wouldn’t leave our Lucy anywhere else.
      %b.pull-right -John and Reni Chamberlain
