---
title: Tips
---

.container-fluid
  .col-sm-4
    = partial "headline"                         
    
    %h4 TIPS FOR DOG PEOPLE
    Does my dog really want to kill the other dogs that he sees when we're out for a walk? Why does my dog keep jumping on me when he knows I don't like it? Why does my dog keep peeing in the house when he KNOWS ITS WRONG?! How do I get my dog to come to me?? Most often, these problems become deeply rooted because people respond incorrectly and confuse their dog, which keeps the problem going. When people learn how to communicate in a way the dog actually can understand, the dog can learn how to behave.

    %h4 BE POSITIVE WITH YOUR DOG!
    Emphasize what your dog is doing right rather than constantly giving reprimands. A little training guidance will go a long way to build a great relationship between you and your dog.

    %h4 EXERCISE YOUR DOG!
    Dogs differ in their need for exercise. If you have a breed or mixed breed whose energy needs are not being met with the right amount of exercise, you can't expect to have a content dog who knows how to relax. Instead, he'll find that barking, digging, destruction and escape behaviors are great ways in which to spend that energy. Dogs need outlets for their breed tendencies - such as hunting, herding or nose work Making K9 Nose Work® the Best Smelling Dog Sport Ever! | NACSW. Investigate agility course work www.keenperformancedogs.com, dock diving Beach City Dogs and lure coursing. If you have a social kind of dog, give him a good run at dog beach www.yournorthcounty.com.

    %h4 TRAIN YOUR DOG!
    Give your dog a good mental workout as you do your training together. Make it fun for you and your dog as you teach obedience commands using praise, treats, toys, etc., to reward your dog for listening to you.

    %div
      Contact JUDY KEEHN for a free assessment regarding the type of training that will best suit you and your dog.
      %br
      %br

      JUDY KEEHN: 760-945-8238
      email: keehnondogs@yahoo.com

  .col-sm-8
    %img{:src => "/images/tips.png", :alt => ""}/

    .container-fluid
      .col-md-6
        %h4 SOCIALIZE YOUR DOG!
        Most dogs enjoy the opportunity to play with other dogs. Take a initial trip - without your dog - to observe the many dog parks to make sure it looks like a safe environment. Talk to people in the park to find out if there are any problem dogs (bullies) to be concerned about. If it looks good, take your dog on regular visits to enrich his life with socialization and outdoor activity. This is going to give you a TIRED dog...and a tired dog is a GOOD dog!

        %h4 ENTERTAIN YOUR DOG!
        Provide interesting and durable toys to keep your dog busy. There are lots of great  puzzle toys to choose from to give your dog mental stimulation as well as satisfy the need to chew and keep busy. Remember to rotate the toys to keep them interesting.

      .col-md-6
                                                    

        %h4 EXPERIENCE AND EXPOSURE!
        Many dogs live in homes that are quiet and very routine, without frequent guests or novel activities to broaden their lives. As soon as you get your dog, you should begin building stability and confidence in him by going to a variety of places to experience different people, situations and activities.  Of course, be careful that your dog is not overwhelmed as you introduce these valuable experiences.

        %h4 PROBLEM BEHAVIOR
        Get help as soon as you see a problem developing in your dog. The sooner you take steps to fix any problem the easier it will be to correct the behavior.
